{#
 * @copyright 2022 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array address
 * @param array purposes
#}
<section id="address">
    <header>
        <h2>{{ address.streetAddress }}</h2>
        <div>
            <p>Information about this address
                <span class="{{ address.jurisdiction_name=='Bloomington' ? 'city' : 'county' }}">
                    {{ address.jurisdiction_name=='Bloomington' ? 'Inside' : 'Outside' }}
                    Bloomington City Limits
                </span>
            </p>
        </div>
    </header>
    <table>
        <tr><th>Township</th><td>{{ address.township_name }}</td></tr>
        {% for type,p in purposes %}
        <tr><th>{{ type|title }}</th>
            <td>{% for name in p %}<div>{{ name }}</div>{% endfor %}</td>
        </tr>
        {% endfor %}
    </table>
</section>

