{#
 * @copyright 2022 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array address
 * @param array purposes
 * @param array contact_info
#}
<section id="elected">
    <header>
        <h2>Elected City Officials</h2>
    </header>
    <div>
    {% if address.jurisdiction_name != 'Bloomington' %}
        <p>This address is outside the jurisdiction of the City and is not
        represented by Bloomington elected officials.</p>
    {% else %}
        <article id="mayor">
            {% set person = contact_info.mayor %}
            <header>
                {% if person.image %}<img src="{{ person.image }}" />{% endif %}
                <h3>{{ person.name  }}</h3>
                <h4>{{ person.title }}</h4>
            </header>
            <p>The Office of the Mayor provides leadership, management, communication
               and strategic direction to the City of Bloomington government. This is
               accomplished through public engagement, in cooperation with City Council
               and the City Clerk, to determine and implement the priorities of our
               community’s residents.</p>
            {{ include('html/address/partials/contact.twig') }}
        </article>
        {% if purposes['CITY COUNCIL DISTRICT'] is defined %}
        <article id="district">
            {% set person = attribute(contact_info.council, purposes['CITY COUNCIL DISTRICT'][0]) %}
            <header>
                {% if person.image %}<img src="{{ person.image }}" />{% endif %}
                <h3>{{ person.name  }}</h3>
                <h4>{{ person.title }}</h3>
            </header>
            {{ include('html/address/partials/contact.twig') }}
        </article>
        {% endif %}
        <div id="at-large">
        {% for person in contact_info.council.at_large %}
        <article>
            <header>
                {% if person.image %}<img src="{{ person.image }}" />{% endif %}
                <h3>{{ person.name  }}</h3>
                <h4>{{ person.title }}</h3>
            </header>
            {{ include('html/address/partials/contact.twig') }}
        </article>
        {% endfor %}
        </div>
        <article id="clerk">
            {% set person = contact_info.clerk %}
            <header>
                {% if person.image %}<img src="{{ person.image }}" />{% endif %}
                <h3>{{ person.name  }}</h3>
                <h4>{{ person.title }}</h4>
            </header>
            <p>The City of Bloomington's Clerk's Office strives to make city government
               as accessible and responsive to the community as possible. The office
               serves as an educational liaison between citizens and their government.
               We respond to inquiries by telephone, in writing, or in person from a
               variety of interested persons regarding matters pertaining to City Council
               actions, or related City information retained in the City Clerk's office.
               We work closely with the City Council to supply combined constituent
               services.
            </p>
            <p>We work closely with the City Council to supply combined constituent services.
               For election information contact the
               <a href="https://www.co.monroe.in.us/department/?structureid=18">Monroe County Clerk's Office</a> or
               <a href="https://www.co.monroe.in.us/department/division.php?structureid=89">Voter Registration</a>
            </p>
            {{ include('html/address/partials/contact.twig') }}
        </article>
    {% endif %}
    </div>
</section>
