{#
 * @copyright 2022 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array address
 * @param array schools
 * @param array parks
 * @param array playgrounds
#}
{% set google_maps = 'https://maps.google.com/maps/dir/?api=1&origin=' ~ address.streetAddress %}
<section id="nearby">
    <header><h2>Nearby Amenities</h2></header>
    <div>
        <p>Distances are approximate</p>
        <p>Click a row for directions</p>
        <section id="schools">
            <h3>Schools</h3>
            <table>
            {% for s in schools|slice(0, 12) %}
                <tr><td>{{ s.distance|round(1) }} mi.</td>
                    <td><a href="{{ google_maps ~ '&destination=' ~ s.address}}'">
                        {{ s.name }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </section>
        <section id="playgrounds">
            <h3>Playgrounds</h3>
            <table>
            {% for s in playgrounds|slice(0, 12) %}
                <tr><td>{{ s.distance|round(1) }} mi.</td>
                    <td><a href="{{ google_maps ~ '&destination=' ~ s.address}}'">
                        {{ s.name }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </section>
        <section id="parks">
            <h3>Parks</h3>
            <table>
            {% for s in parks|slice(0, 12) %}
                <tr><td>{{ s.distance|round(1) }} mi.</td>
                    <td><a href="{{ google_maps ~ '&destination=' ~ s.address}}'">
                        {{ s.name }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </section>
    </div>
</section>
