{#
 * @copyright 2022-2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array address
 * @param array location
 * @param array purposes
 * @param array contact_info
#}
{% extends "html/layouts/default.twig" %}

{% block content %}
<div id="info">
        {{ include('html/address/partials/searchForm.twig', {'query': address.streetAddress}) }}
        <section class="container my-3">
            <details>
                <summary>Jump to section</summary>
                <nav>
                    <ul role="list"><!-- Safari accessbility -->
                        <li><a href="#address">About</a></li>
                        <li><a href="#sanitation">Sanitation</a></li>
                        <li><a href="#elected">Elected Officials</a>
                            {% if address.jurisdiction_name=='Bloomington' %}
                            <ul><li><a href="#mayor">Mayor</a></li>
                                <li><a href="#district">District Representative</a></li>
                                <li><a href="#at-large">Council At-Large</a></li>
                                <li><a href="#clerk">Clerk</a></li>
                            </ul>
                            {% endif %}
                        </li>
                        <li><a href="#coordinates">Coordinates</a></li>
                        <li><a href="#government">Government Online</a></li>
                    </ul>
                </nav>
            </details>
        </section>
        <div class="d-flex flex-wrap">
            <h1 class="me-5">{{ address.streetAddress }}</h1>
            <span class="{{ address.jurisdiction_name=='Bloomington' ? 'badge rounded-pill text-bg-success align-self-center' : 'county badge rounded-pill text-bg-warning align-self-center' }}">{{ address.jurisdiction_name=='Bloomington' ? 'Inside' : 'Outside' }} Bloomington City Limits</span>
        </div>
        <hr>
{{ include('html/address/partials/address.twig'    ) }}
{{ include('html/address/partials/sanitation.twig' ) }}
{{ include('html/address/partials/elected.twig'    ) }}
{{ include('html/address/partials/coordinates.twig') }}
{{ include('html/address/partials/government.twig' ) }}
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}"></script>
<script type="text/javascript" src="js/map-{{ VERSION }}.js"></script>
{% endblock %}