{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array person
#}
<dl>
    <div class="row pt-2">
        <dt class="col-sm-3">Web</dt>
        <dd class="col-sm-9"><a href="{{ person.url }}">{{ person.url }}</a></dd>
    </div>
    <div class="row pt-2">
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9"><a href="mailto:{{ person.email }}">{{ person.email }}</a></dd>
    </div>
    <div class="row pt-2">
        <dt class="col-sm-3">Telephone</dt>
        <dd class="col-sm-9">
            {% for k,v in person.phone %}
            <a href="tel:{{ v }}">{{ v }} - {{ k }}</a>
            {% endfor %}
        </dd>
    </div>
    <div class="row pt-2">
        <dt class="col-sm-3">Address</dt>
        <dd class="col-sm-9">{{ person.address }}</dd>
    </div>
</dl>
