{#
 * @copyright 2022 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array address
#}
<section id="coordinates" class="container my-3" data-latitude ="{{ address.latitude  }}" data-longitude="{{ address.longitude }}">
    <div class="card card border-light mb-3">
        <h2 class="card-header d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-map-fill me-2" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.598-.49L10.5.99 5.598.01a.5.5 0 0 0-.196 0l-5 1A.5.5 0 0 0 0 1.5v14a.5.5 0 0 0 .598.49l4.902-.98 4.902.98a.5.5 0 0 0 .196 0l5-1A.5.5 0 0 0 16 14.5zM5 14.09V1.11l.5-.1.5.1v12.98l-.402-.08a.5.5 0 0 0-.196 0zm5 .8V1.91l.402.08a.5.5 0 0 0 .196 0L11 1.91v12.98l-.5.1z"/>
            </svg>
            Coordinate Details
        </h2>
        <div class="card-body">
            <p class="card-text">The City of Bloomington <a href="https://bloomington.in.gov/gis">GIS Department</a> staff
            maintains spatial data and provides mapping and spatial analysis
            services to support operations of City Departments, Boards and Commissions.
            </p>
            <p class="card-text">Native coordinate reference system is:
            <strong>NAD 83 State Plane Indiana West Zone (1302) US Survey Feet EPSG:2966</strong>
            </p>
            <dl class="row">
                <dt class="col-sm-3">State Plane X / Y</dt>
                <dd class="col-sm-9">{{ address.state_plane_x }}, {{ address.state_plane_y }}</dd>
                <dt class="col-sm-3">Latitude / Longitude</dt>
                <dd class="col-sm-9">{{ address.latitude }}, {{ address.longitude }}</dd>
            </dl>
        </div>
    </div>
</section>
