{#
 # @copyright 2024 City of Bloomington, Indiana
 # @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 # @param array results
 #}
{% for a in results %}
<ul class="list-group list-group-flush w-50">
    {% if a.status=='current' %}
    <li class="list-group-item d-flex justify-content-between">
        <a href="{{ uri('address.info', {'id': a.id}) }}">
        {{ a.streetAddress }}
        </a>
        <span class="{{ a.jurisdiction_name=='Bloomington' ? 'badge rounded-pill text-bg-success align-self-center' : 'badge rounded-pill text-bg-warning align-self-center' }}">
            {{ a.jurisdiction_name=='Bloomington' ? 'Inside' : 'Outside' }}
            Bloomington City Limits
        </span>
    </li>
    {% else %}
    <li class="list-group-item d-flex justify-content-between">
        {{ a.streetAddress }}
        <span class="badge rounded-pill text-bg-warning align-self-center">
        {{ a.status }}
        </span>
    </li>
    {% endif %}
</ul>
{% endfor %}
