{#
 # @copyright 2024 City of Bloomington, Indiana
 # @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 # @param array results
 #}
 <ul class="list-group list-group-flush">
{% for a in results %}
    {% if a.status=='current' %}
    <li class="list-group-item d-flex flex-wrap justify-content-between">
        <a class="mb-1 me-5 w-75" href="{{ uri('address.info', {'id': a.id}) }}">
        {{ a.streetAddress }}
        </a>
        <div class="{{ a.jurisdiction_name=='Bloomington' ? 'badge rounded-pill text-bg-success align-self-center' : 'badge rounded-pill text-bg-warning align-self-center' }}">
            {{ a.jurisdiction_name=='Bloomington' ? 'Inside' : 'Outside' }}
            Bloomington City Limits
        </div>
    </li>
    {% else %}
    <li class="list-group-item d-flex flex-wrap disabled justify-content-between" aria-disabled="true">
        <div class="mb-1 me-5 w-75">
            {{ a.streetAddress }}
        </div>
        <div class="badge rounded-pill text-bg-secondary align-self-center">
        {{ a.status }}
        </div>
    </li>
    {% endif %}
{% endfor %}
</ul>